<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre - João Silva</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Início</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/projetos">Projetos</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="about">
        <h2>Sobre Mim</h2>
        <h3>Pedro Henrique Fernandes, 20 anos, de Indaiatuba, SP.</h3>
        <p>
          🎓 Técnico em Desenvolvimento de Sistemas pela ETEC Martinho Di Ciero
          (2021). Destaque em lógica de programação, desenvolvimento web e banco
          de dados.
        </p>
        <p>
            💼 Experiência com Vue.js, MongoDB, Node.js e
            TypeScript. Contribuí para projetos desafiadores, fortalecendo
            habilidades técnicas e de gestão.
            <br>
            💹
        </p> <p>
            🔧 Atualmente, estagiário de TI na
            Unimax, oferecendo suporte técnico e manutenção de rede. Comprometido em
            garantir a eficiência dos sistemas e a satisfação dos usuários.
        </p> <p>
            🌍
            Fluente em inglês (Certificado Cambridge English: First). Essa
            habilidade facilita a comunicação em ambientes multiculturais e expande
            as oportunidades profissionais.
        </p> <p>
            💬 Sou conhecido por minha natureza
            comunicativa, o que me permite colaborar efetivamente em equipes e
            interagir com diferentes stakeholders. Sempre busco oportunidades para
            aprender e crescer, tanto pessoal quanto profissionalmente, participando
            de cursos e eventos relevantes.
        </p> <p>
            🚀 Estou em constante busca por desafios
            na área de Tecnologia da Informação, onde posso aplicar meu conhecimento
            e paixão pela inovação para impulsionar o sucesso da equipe e da
            organização.
        </p>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Pedro H. Fernandes</p>
    </footer>
  </body>
</html>
